@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Inconsolata&family=Inter&display=swap');

:root {
    --beige: #eae7dc;
    --beiger: #d8c3a5;
    --cream: #efe2ba;
    --light-grey: #f2f2f2;
    --mid-grey: #8e8d8a;
    --gold: #d79922;
    --red: #f13c20;
    --blue: #3e5cbe;
    --light-blue: #c5cbe3;
    --body-text: 'Inter', sans-serif;
    --mono-text: 'Inconsolata', monospace;
    --display-text: 'Fauna One', serif;
    --gap: 28px;
    --half-gap: 14px;
    --flow: .5s;
    --font-sml: 17px;
    --font-lrg: 20px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--beige);
    color: var(--blue);
    font-size: var(--font-lrg);
}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    padding: var(--gap);
}

header li {
    line-height: 1.4em;
}

header li a {
    text-decoration: none;
    color: var(--blue);
    transition: var(--flow);
}

header li a:hover {
    padding-left: var(--half-gap);
}

.active::after {
  content: "→";

}

#search {
    position: fixed;
    top: var(--gap);
    right: var(--gap);
    font-size: 3em;
    width: 41px;
}

h1 {
    font-family: var(--display-text);
    font-size: 39px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    font-family: var(--body-text);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: .2em;
    color: var(--red);
}

h4 {
    font-family: var(--mono-text);
    color: var(--red);
    line-height: 2.3em;
    font-weight: normal;
}

ul {
    width: 100%;
}

li, p {
    list-style-type: none;
    font-family: var(--body-text);
}

main {
    margin-top: 8em;
    display: flex;
    justify-content: center;
}

#logo-solo {
    position: fixed;
    top: var(--gap);
    left: var(--gap);
}

section {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
}

form, article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: var(--gap);
    transition: var(--flow);
    border-radius: var(--gap);
    margin-bottom: var(--gap);
    background-color: white;
}

#book-list > article {
    flex-wrap: nowrap;
}

article:hover {
    background-color: white;
    transform: translateX(10px);
}

.book-thumbnail {
    width: 100%;
}

.book-image {
    flex-basis: 29%;
    padding-right: var(--gap);
}

.book-details {
    flex-basis: 75%;
}

form > ul > li, article > ul > li {
    display: flex;
}

label {
    flex-basis: 40%;
    padding: .5em 0;
}

label p {
    color: darkslategray;
    font-size: var(--font-sml);
    margin:var(--half-gap) 0;
    line-height: normal;
}

article li, label {
    font-family: var(--mono-text);
    color: darkslategray;
    line-height: 1.5em;
    font-size: var(--font-sml);
    border-bottom: solid 1px var(--beiger);
    text-align: left;
}

.index-list ul li {
    line-height: 2em;
    font-size: var(--font-sml);
}

.icon-holder {
    width: 100%;
    text-align: right;
    padding-top: var(--half-gap);
}

.icon-holder > a > svg {
    width: 26px;
    z-index: 2;
    fill: var(--beiger);
    transition: var(--flow);
}

.icon-holder > a > svg:hover {
    fill: var(--red);
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, details {
    font-family: var(--mono-text);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px var(--beiger);
    outline: none;
    width: 100%;
    color: darkslategray;
    line-height: 1.5em;
    font-size: var(--font-sml);
    padding: .5em 0;
    transition: var(--flow);
}

select {
    background-color: white;
}

input:invalid, select:invalid {
    border-bottom: var(--red) solid 1px;
}

input:hover {
    border-bottom: var(--gold) solid 1px;
    background-color: var(--light-grey);
    padding-left: var(--half-gap);
}

input[type="text"]:focus {
    border-bottom: var(--blue) solid 1px;
    background-color: var(--light-grey);
    padding-left: var(--half-gap);
}

input[type=text]:read-only:hover, input[type=text]:read-only:focus {
    background-color: white;
    padding-left: 0px;
    border-bottom: 1px var(--beiger) solid;
}

#login-user-form {
    display: block;
    text-align: center;
}

form > input[type="button"] {
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 10px;
    width: auto;
    padding: var(--half-gap);
    font-family: var(--body-text);
    font-size: var(--font-sml);
    margin-top: var(--gap);
    margin-left: auto;
    margin-right: auto;
    transition: var(--flow);
}

form > input[type="button"]:hover {
    background-color: var(--beige);
    color: var(--red);
    cursor: pointer;
}

.button {
    background-color: var(--light-blue);
    color: var(--blue);
    border: none;
    border-radius: 10px;
    width: auto;
    padding: var(--half-gap);
    position: fixed;
    bottom: var(--gap);
    right: var(--gap);
    font-family: var(--body-text);
    text-decoration: none;
    transition: var(--flow);
    z-index: 5;
}

.button:hover {
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}

#close-menu {
    position: fixed;
    top: var(--gap);
    right: var(--gap);
    width: 50px;
    display: none;
}

#close-menu > svg {
    fill: var(--blue);
    cursor: pointer;
}

#nav, #sub-nav {
    opacity: 1;
    transition: 1s;
    margin-top: var(--half-gap);
}

.cover-holder {
    width: 100%;
    padding: 0 20%/inherit;
    border-bottom: solid 1px var(--beiger);
    padding: var(--half-gap) 30%;
}

.cover-holder > img {
    width: 100%;
}

Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#validation-error {
    display: none;
}

@media only screen and (max-width: 600px) {
    
            #search, .mob-hide {
                display: none;
            }

            #nav, #sub-nav {
                opacity: 0;
                transition: .2s;
            }

            #close-menu {
                display: block;
                width: 10vw;
            }

            h1 {
                font-size: 8vw;
            }

            #nav li{
                width: 100%;
            }

            article:hover {
                transform: translateX(0);
            }

            #header {
                background-color: var(--beige);
                height: 44px;
                width: 100%;
                border-bottom: 1px solid var(--blue);
                transition: var(--flow);
            }

            header ul {
                margin-bottom: 0;
            }

            #nav {
                margin: var(--half-gap) 0;
            }

            #book-list > article {
                flex-wrap: wrap;
            }

            .book-image {
                flex-basis: 50%;
                padding-right: 0;
                margin: 0 auto;
            }

            .book-details {
                flex-basis: 100%;
                margin-top: var(--half-gap);
            }

            section {
                width: 90%;
                margin-bottom: 82px;
            }

}






